body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

main {
  padding: 20px;
  height: calc(100% - 20px);
  width: calc(100vw - 40px);
}

p {
  line-height: 20px;
}

section {
  max-width: 500px;
  min-width: 236px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  width: calc(100% - 20px);
  text-align: center;
  font-size: 14px;
}

h1 {
  font-family: cursive;
  width: fit-content;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
}

a {
  color: #963333;
}

.contacts {
  flex-grow: 1;
  text-align: end;
}

.lang-edu-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.lang-edu-sections section {
  flex-grow: 1;
  justify-content: flex-start;
}

.about-sections-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.time {
  color: #7e7e7e;
  font-size: 14px;
}

.projects {
  display: flex;
  width: auto;
  gap: 20px;
  padding: 20px 0;
  overflow-x: auto;
  scrollbar-color: #333 #ffffff00;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

.project img {
  min-width: 280px;
  height: 300px;
  width: 30vw;
  object-fit: cover;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 26%);
  transition-duration: 0.3s;
}

.project img:hover {
  transform: scale(1.05);
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  scroll-snap-align: center;
}

@media only screen and (max-width: 1440px) {
  .about-sections-container {
    flex-wrap: wrap;
  }

  section {
    max-width: unset;
  }

  .about-sections-container section:nth-child(1) {
    order: 1;
  }

  .about-sections-container .lang-edu-sections {
    order: 4;
  }

  .about-sections-container section:nth-child(3) {
    order: 2;
  }

  .about-sections-container section:nth-child(4) {
    order: 3;
  }

  .project img {
    height: 200px;
  }
}

@media only screen and (max-width: 1138px) {
  .lang-edu-sections {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 40px);
  }

  header div {
    text-align: center;
  }

  header h1 {
    width: 100%;
  }

  header p {
    margin: 0;
  }

  .contacts {
    text-align: unset;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }
}